
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      margin: 20px;
    }

    .box {
      border: 2px solid rgb(42, 165, 165);
      padding: 15px;
      border-radius: 10px;
      background-color: #ffffff;
      text-align: center;
    }

    button {
      padding: 8px 12px;
      cursor: pointer;
      margin-top: 10px;
    }

    h1 {
      color: brown;
      text-align: center;
    }

    
